.card-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card .front-content {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.mainHeading {
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content {
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(30%);
}

.card:hover .front-content p {
  opacity: 0;
}

@media (max-width:640px) {
  .card-container {
    width: 27rem;
    height: 18.9rem;
  }
}